[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service
ConditionPathExists=/var/lib/kubelet/kubeconfig

[Service]
Environment=KUBELET_IMAGE_TAG=v1.6.1_coreos.0
Environment="RKT_RUN_ARGS=--volume=resolv,kind=host,source=/etc/resolv.conf \
  --mount volume=resolv,target=/etc/resolv.conf \
  --uuid-file-save=/var/run/kubelet-pod.uuid"
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --allow-privileged=true \
  --cloud-provider=aws \
  --cluster-dns=10.32.0.10 \
  --non-masquerade-cidr=10.200.0.0/16 \
  --cluster-domain=cluster.local \
  --container-runtime=docker \
  --network-plugin=kubenet \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --register-node=true \
  --require-kubeconfig=true \
  --serialize-image-pulls=false \
  --tls-cert-file=/var/lib/kubelet/kubelet.pem \
  --tls-private-key-file=/var/lib/kubelet/kubelet-key.pem \
  --v=2
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/kubelet-pod.uuid
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
