#cloud-config
coreos:
  update:
    reboot-strategy: etcd-lock
  locksmith:
    group: etcd
  units:
    - name: locksmithd.service
      command: start
      drop-ins:
        - name: 30-cloudinit.conf
          content: |
            [Unit]
            Requires=etcd-member.service
            After=etcd-member.service
            [Service]
            EnvironmentFile=/etc/locksmithd/locksmithd-envs
    - name: etcd2.service
      command: stop
      mask: true
    - name: etcd-member.service
      command: start
      drop-ins:
        - name: 60-etcd-peers.conf
          content: |
              [Unit]
              Requires=install-cert.service etcd-init.service
              Wants=install-cert.service
              After=install-cert.service etcd-init.service
              Conflicts=etcd.service
              Conflicts=etcd2.service
              [Service]
              EnvironmentFile=/etc/sysconfig/etcd-peers
              EnvironmentFile=/etc/etcd/cert-envs
              Environment=ETCD_SSL_DIR=/etc/etcd/certs
              Environment=ETCD_ADVERTISE_CLIENT_URLS=https://$private_ipv4:2379
              Environment=ETCD_INITIAL_ADVERTISE_PEER_URLS=https://$private_ipv4:2380
              Environment=ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:2379,http://0.0.0.0:4001
              Environment=ETCD_LISTEN_PEER_URLS=https://$private_ipv4:2380,http://$private_ipv4:7001

    - name: etcd-init.service
      command: start
      content: |
        [Unit]
        Description=etcd init
        Requires=docker.service
        After=docker.service

        [Service]
        Type=oneshot
        RemainAfterExit=true
        EnvironmentFile=/etc/environment
        TimeoutStartSec=10min
        ExecStart=/opt/bin/etcd-init.sh
        [Install]
        WantedBy=multi-user.target
    - name: install-cert.service
      command: start
      enable: true
      content: |
        [Unit]
        Description=Install Kubernetes cert from Vault
        Requires=docker.service
        After=docker.service
        [Service]
        Type=oneshot
        RemainAfterExit=true
        ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/tmp ${VAULT_IMAGE} cp /bin/vault /tmp/vault
        ExecStart=/bin/bash -c "sleep 10; [ -x /opt/bin/vault ] &&  /opt/bin/get-kube-certs.sh "
write_files:
  - path: /etc/profile.d/alias.sh
    permissions: 0755
    owner: root
    content: |
      role=$(curl 169.254.169.254/latest/meta-data/iam/info -s | \
              jq --raw-output '.InstanceProfileArn' | sed 's%.*instance-profile/%%')
      PS1="\[\033[01;32m\]\u@\h\[\033[01;34m\]-$role \w \$\[\033[00m\] "
  - path: /opt/bin/get-kube-certs.sh
    permissions: 0755
    owner: root
    content: |
        #!/bin/bash
        pkg=$(basename $0)
        export VAULT_ADDR=https://vault.${CLUSTER_INTERNAL_ZONE}
        export VAULT_CACERT=/opt/etc/vault/ca/ca.pem # cert to communicate with vault server.
        export PATH=/opt/bin/:$PATH

        # Remove stale tokens; Wait for vault service for auth token
        rm -f /opt/etc/pki-tokens/etcd-server
        retry=10

        until [[ -s /opt/etc/pki-tokens/etcd-server ]] || [[ $retry -eq 0 ]];
        do
          /opt/bin/s3get.sh ${CONFIG_BUCKET} pki/ca.pem /opt/etc/vault/ca/ca.pem
          /opt/bin/s3get.sh ${CONFIG_BUCKET} pki-tokens/etcd-server /opt/etc/pki-tokens/etcd-server
          let "retry--"
          sleep 10
        done
        if [ $retry -eq 0 ];
          then
          echo "$pkg: Vault service is not ready."
          exit 1
        fi
        # Vault PKI Token
        export VAULT_TOKEN=$(cat /opt/etc/pki-tokens/etcd-server)
        mkdir -p /etc/etcd/certs && cd /etc/etcd/certs
        vault write -format=json ${CLUSTER_NAME}/pki/etcd-server/issue/etcd-server common_name=$(hostname --fqdn) \
          alt_names="kube-$private_ipv4.cluster.local,*.cluster.local" \
          ttl=43800h0m0s \
          ip_sans="127.0.0.1,$private_ipv4" >  kube-bundle.certs
        if [ -s kube-bundle.certs ]; then
            cat kube-bundle.certs | jq -r ".data.certificate" > /etc/etcd/certs/etcd-server.pem
            cat kube-bundle.certs | jq -r ".data.private_key" > /etc/etcd/certs/etcd-server-key.pem
            cat kube-bundle.certs | jq -r ".data.issuing_ca" > /etc/etcd/certs/etcd-server-ca.pem
        else
            echo "kube-bundle.certs doesn't exist."
            exit 1
        fi
  - path: /etc/profile.d/locksmithctl.sh
    permissions: 0644
    owner: root
    content: |
      # For locksmothclt client to connect etcd cluster through TLS
      export LOCKSMITHCTL_ENDPOINT=http://127.0.0.1:4001

  - path: /etc/profile.d/etcdctl.sh
    permissions: 0644
    owner: root
    content: |
      # For etcdctl client to connect server through TLS
      #export ETCDCTL_CERT_FILE=/etc/etcd/certs/etcd-server.pem
      #export ETCDCTL_KEY_FILE=/etc/etcd/certs/etcd-server-key.pem
      export ETCDCTL_CA_FILE=/etc/etcd/certs/etcd-server-ca.pem
      export ETCDCTL_ENDPOINTS=http://127.0.0.1:4001

  - path: /etc/profile.d/vault.sh
    permissions: 0644
    owner: root
    content: |
      # For vault client to connect server through TLS
      export VAULT_CACERT=/opt/etc/vault/ca/ca.pem
      export VAULT_ADDR=https://vault.${CLUSTER_INTERNAL_ZONE}

  - path: /opt/bin/etcd-init.sh
    permissions: 0700
    owner: root
    content: |
      #!/bin/bash

      # dyamically create/join the etcd cluster by querying autoscaling group
      # see https://github.com/dockerage/etcd-aws-cluster
      image=dockerage/etcd-aws-cluster
      /usr/bin/docker run --rm --name=etcd-init -v /etc/sysconfig/:/etc/sysconfig/ \
        --env ETCD_CURLOPTS='-k' --env ETCD_PEER_SCHEME=https --env ETCD_CLIENT_SCHEME=https $image
      # Upload etcd initial-cluster urls to s3 bucket for kube peers. Wait a bit for the etcd-peers file to be ready
      mkdir -p /etc/sysconfig
      retry=20
      until etcd_initial_cluster=$(grep ETCD_INITIAL_CLUSTER= /etc/sysconfig/etcd-peers) || [[ $retry -eq 0 ]];
      do
        sleep 5
        let "retry--"
      done
      if [ $retry -eq 0 ];
      then
        echo "ERROR: /etc/sysconfig/initial-cluster doesn't have ETCD_INITIAL_CLUSTER."
        exit 1
      fi
      echo $etcd_initial_cluster > /etc/sysconfig/initial-cluster
      /opt/bin/s3put.sh ${CONFIG_BUCKET} etc/sysconfig /etc/sysconfig/initial-cluster

  - path: /etc/etcd/cert-envs
    permissions: 0644
    owner: root
    content: |
        ETCD_PEER_CERT_FILE=/etc/ssl/certs/etcd-server.pem
        ETCD_PEER_KEY_FILE=/etc/ssl/certs/etcd-server-key.pem
        ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/certs/etcd-server-ca.pem
        ETCD_PEER_CLIENT_CERT_AUTH=true
        ETCD_CERT_FILE=/etc/ssl/certs/etcd-server.pem
        ETCD_KEY_FILE=/etc/ssl/certs/etcd-server-key.pem
        ETCD_TRUSTED_CA_FILE=/etc/ssl/certs/etcd-server-ca.pem
        #ETCD_CLIENT_CERT_AUTH=true

  - path: /etc/locksmithd/locksmithd-envs
    permissions: 0644
    owner: root
    content: |
        LOCKSMITHD_ENDPOINT=http://127.0.0.1:4001
        LOCKSMITHD_REBOOT_WINDOW_START=05:30
        LOCKSMITHD_REBOOT_WINDOW_LENGTH=3h
