#cloud-config

# Nodes cloud-config
coreos:
  update:
    reboot-strategy: reboot
  units:
# coreos.units.* components
    - name: format-disk.service
      command: start
      content: |
        [Unit]
        Description=Formats the disk drive
        [Service]
        Type=oneshot
        RemainAfterExit=yes
        Environment="LABEL=var-lib-docker"
        Environment="DEV=/dev/xvdf"
        # Do not wipe the disk if it's already being used, so the docker images persistent cross reboot.
        ExecStart=-/bin/bash -c "if ! findfs LABEL=$LABEL > /tmp/label.$LABEL; then wipefs -a -f $DEV && mkfs.ext4 -T news -F -L $LABEL $DEV && echo wiped; fi"
    - name: var-lib-docker.mount
      command: start
      content: |
        [Unit]
        Description=Mount disk to /var/lib/docker
        Requires=format-disk.service
        After=format-disk.service
        Before=docker.service
        [Mount]
        What=/dev/xvdf
        Where=/var/lib/docker
        Type=ext4
    - name: docker.service
      command: start
      drop-ins:
        - name: 60-docker-wait-for-var-lib.conf
          content: |
              [Unit]
              Requires=var-lib-docker.mount
              After=var-lib-docker.mount
              [Service]
              Restart=always
              RestartSec=5

    - name: kubelet.service
      command: start
      content: |
        [Unit]
        Description=Kubernetes Kubelet
        Documentation=https://github.com/GoogleCloudPlatform/kubernetes
        After=docker.service
        Requires=docker.service
        ConditionPathExists=/var/lib/kubelet/kubeconfig
        [Service]
        Environment="PATH=/opt/bin/:/usr/sbin:/usr/bin:/sbin:/bin"
        ExecStart=/opt/bin/kubelet \
          --allow-privileged=true \
          --cloud-provider=aws \
          --cluster-dns=${KUBE_DNS_SERVICE} \
          --non-masquerade-cidr=${KUBE_CLUSTER_CIDR} \
          --cluster-domain=cluster.local \
          --container-runtime=docker \
          --docker=unix:///var/run/docker.sock \
          --network-plugin=kubenet \
          --kubeconfig=/var/lib/kubelet/kubeconfig \
          --register-node=true \
          --serialize-image-pulls=false \
          --tls-cert-file=/var/lib/kubelet/kubelet.pem \
          --tls-private-key-file=/var/lib/kubelet/kubelet-key.pem \
          --v=2
        Restart=on-failure
        RestartSec=5
        [Install]
        WantedBy=multi-user.target
    - name: set-role-name.service
      command: start
      content: |
        [Unit]
        Description=Set Role Name
        Wants=kubelet.service
        After=kubelet.service
        [Service]
        Restart=on-failure
        RestartSec=5
        ExecStart=/usr/bin/sh -c "HOME=/root; KUBECONFIG=/var/lib/kubelet/kubeconfig \
          /opt/bin/kubectl label node $(hostname) kubernetes.io/role=node --overwrite; \
         " 
        [Install]
        WantedBy=multi-user.target
    - name: kube-proxy.service
      command: start
      content: |
        [Unit]
        Description=Kubernetes Kube Proxy
        Documentation=https://github.com/GoogleCloudPlatform/kubernetes
        [Service]
        ExecStart=/opt/bin/kube-proxy \
          --master=https://api-server.${CLUSTER_INTERNAL_ZONE}:6443 \
          --kubeconfig=/var/lib/kube-proxy/kubeconfig \
          --proxy-mode=iptables \
          --cluster-cidr=${KUBE_CLUSTER_CIDR} \
          --v=2
        Restart=on-failure
        RestartSec=5
        [Install]
        WantedBy=multi-user.target

write_files:
  - path: /etc/profile.d/alias.sh
    permissions: 0755
    owner: root
    content: |
      role=$(curl 169.254.169.254/latest/meta-data/iam/info -s | \
              jq --raw-output '.InstanceProfileArn' | sed 's%.*instance-profile/%%')
      PS1="\[\033[01;32m\]\u@\h\[\033[01;34m\]-$role \w \$\[\033[00m\] "

  - path: /etc/systemd/system/docker.service.d/50-iptables.conf
    content: |
        [Service]
        Environment='DOCKER_OPTS=--iptables=false --ip-masq=false'
